<section id="combinedList">
    <h1>People:</h1>
    <ul>
        <li *ng-for="#person of people" class="person">
            <client-profile *ng-if="!isProgrammer(person)"
                            [client]="person"
                            (remove)="remove($event)">

            </client-profile>
            <programmer-profile *ng-if="isProgrammer(person)"
                                [programmer]="person"
                                (remove)="remove($event)">

            </programmer-profile>
        </li>
    </ul>
</section>
