<div class="programmer-profile">
    <client-profile class="client-profile" [client]="programmer" (remove)="remove.emit($event)"></client-profile>
    <ul class="languages">
        <li *ng-for="#language of programmer.languages;#index = index;">
            <span *ng-if="edit == false">{{language}}</span>
            <span *ng-if="edit == true" >
                <input [(ng-model)]="programmer.languages[index]">
                <button (click)="removeLanguage(index)">Remove</button>
            </span>
        </li>
        <button (click)="edit = !edit">{{(edit) ? 'Ok' : 'Edit'}}</button>
    </ul>
</div>